{% comment %}
Защита публичной формы от ботов: скрытая ловушка + капча Turnstile (если заданы ключи).
Подключать внутри формы. Если на странице несколько форм, скрипт Turnstile грузить один
раз: передавайте load_script=True только в первом include.
{% endcomment %}
<div style="position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden" aria-hidden="true">
    <label>Не заполняйте это поле
        <input type="text" name="hp_note" tabindex="-1" autocomplete="off" value="">
    </label>
</div>
{% if turnstile_site_key %}
<div class="cf-turnstile" data-sitekey="{{ turnstile_site_key }}" data-theme="dark"></div>
{% if load_script %}<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>{% endif %}
{% endif %}
